.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: visible;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.3s ease-out;
}

.drawer__header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: Oswald;
    margin-bottom: 15px;
  }
}

.favoriteItem {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    margin: 5px 0;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.removeBtn {
  fill: #000;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  margin-left: auto;

  &:hover {
    fill: #ec6113;
  }
}

.closeBtn {
  fill: #000;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  margin-left: auto;

  &:hover {
    fill: #c71215;
  }
}